<!-- <body>
  <div class="container" style="position: relative">
    <h5>Agency Table</h5>
    <div class="d-flex justify-content-end mb-3">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addModal"
      >
        Add Agency
      </button>
    </div>
    <div class="rounded-circle">
      <div class="d-flex justify-content-end mb-3 wrapper">
        <a href="#demo-modal">Add Detail</a>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sl.No</th>
          <th scope="col">Name</th>
        <th scope="col">Employed Id</th>
          <th scope="col">Gender</th>
          <th scope="col">Dept</th>
          <th scope="col">Agency</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          < <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn btn-success">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</body>

<div id="demo-modal" class="modal">
  <div class="modal__content">
    <form>
      <div class="mb-3 mt-5">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="name"
          name="name"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary" (click)="saveagencyname()">
        SAVE
      </button>
    </form>

    <div class="modal__footer">
      Made with <i class="fa fa-heart"></i>, by
      <a href="https://twitter.com/denicmarko" target="_blank">@denicmarko</a>
    </div>

    <a href="#" class="modal__close">&times;</a>
  </div>
</div>-->
