<div class="container">
  <div class="facebook">
    <div>
      <h1>facebook</h1>
    </div>
    <p>
      FaceBook helps you connect and share<br />
      with the people in your life.
    </p>
  </div>
  <div>
    <form id="label">
      <div class="Input">
        <input type="text" id="name" placeholder="Enter your number" />
        <input t xype="text" id="name" placeholder="Enter your password" />
      </div>
      <div class="login">
        <button type="submit"><b>Log in</b></button>
        <p>forgot password?</p>
      </div>

      <div class="create">
        <button type="submit">Create new account</button>
      </div>
    </form>
  </div>
</div>
